In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [17]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [3]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [5]:
num_train = train.copy()
num_test = test.copy()

In [6]:
def fillna(df1, df2, columns, values):
    for i, col in enumerate(columns):
        df1[col].fillna(values[i], inplace=True)
        df2[col].fillna(values[i], inplace=True)
    return df1, df2

num_train, num_test = fillna(num_train, 
                             num_test, 
                             ['Gender', 'Married', 'Education',
                              'Self_Employed', 'Property_Area',
                              'Dependents', 'Credit_History', 
                              'LoanAmount', 'Loan_Amount_Term'],
                             ['None', 'None', 'None', 'None', 'None', 
                              -1, -1, -1, -1])

In [7]:
def label_encoder(df1, df2, columns):
    for col in columns:
        cur = LabelEncoder()
        df1[col] = cur.fit_transform(df1[col])
        df2[col] = cur.transform(df2[col])
    return df1, df2

num_train, num_test = label_encoder(num_train, num_test, ['Gender', 'Married', 'Education', 
                                                          'Self_Employed', 'Property_Area'])

In [12]:
def change_dep(df1, df2):
    df1['Dependents'] = df1['Dependents'].apply(lambda x: 3 if str(x) == '3+' else int(x))
    df2['Dependents'] = df2['Dependents'].apply(lambda x: 3 if str(x) == '3+' else int(x))
    return df1, df2

num_train, num_test = change_dep(num_train, num_test)

In [8]:
ids = list(num_train['Loan_ID'].values)
ids.extend(num_test['Loan_ID'].values)
ID = LabelEncoder()
ID.fit_transform(ids)
num_train['Loan_ID'] = ID.transform(num_train['Loan_ID'])
num_test['Loan_ID'] = ID.transform(num_test['Loan_ID'])

In [9]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [13]:
X_train, X_test, y_train, y_test = train_test_split(num_train.drop('Loan_Status', axis=1), num_train['Loan_Status'], random_state=42, test_size=.25)

<b> BASE MODEL

In [14]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [15]:
rf.score(X_test, y_test)

0.77272727272727271

In [16]:
X_train.to_csv('X_train.csv')
y_train.to_csv('y_train.csv')
X_test.to_csv('X_test.csv')
y_test.to_csv('y_test.csv')

In [67]:
test = pd.read_csv('test.csv')

In [68]:
num_test = test.copy()

In [69]:
num_test['Gender'].fillna('None', inplace=True)
num_test['Gender'] = gender.transform(num_test['Gender'])

num_test['Married'].fillna('None', inplace=True)
num_test['Married'] = married.transform(num_test['Married'])

num_test['Education'].fillna('None', inplace=True)
num_test['Education'] = education.transform(num_test['Education'])

num_test['Self_Employed'].fillna('None', inplace=True)
num_test['Self_Employed'] = self.transform(num_test['Self_Employed'])

num_test['Property_Area'].fillna('None', inplace=True)
num_test['Property_Area'] = area.transform(num_test['Property_Area'])

ID = LabelEncoder()
num_test['Loan_ID'] = ID.fit_transform(num_test['Loan_ID'])

num_test['Dependents'].fillna(-1, inplace=True)
num_test['Dependents'] = num_test['Dependents'].apply(lambda x: 3 if str(x) == '3+' else int(x))

num_test['Loan_ID'] = num_test['Loan_ID'].astype('category')

num_test['Credit_History'].fillna(-1, inplace=True)
num_test['LoanAmount'].fillna(-1, inplace=True)
num_test['Loan_Amount_Term'].fillna(-1, inplace=True)

In [70]:
rf.predict(num_test)

array(['Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N',
       'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N',
       'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'N',
       'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y'], dtype=object)

In [71]:
from sklearn.metrics import roc_curve, auc

In [ ]:
roc_curve()

In [72]:
num_test

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,1,2,0,0,0,5720,0,110.0,360.0,1.0,2
1,1,1,2,1,0,0,3076,1500,126.0,360.0,1.0,2
2,2,1,2,2,0,0,5000,1800,208.0,360.0,1.0,2
3,3,1,2,2,0,0,2340,2546,100.0,360.0,-1.0,2
4,4,1,0,0,1,0,3276,0,78.0,360.0,1.0,2
5,5,1,2,0,1,2,2165,3422,152.0,360.0,1.0,2
6,6,0,0,1,1,0,2226,0,59.0,360.0,1.0,1
7,7,1,2,2,1,0,3881,0,147.0,360.0,0.0,0
8,8,1,2,2,0,1,13633,0,280.0,240.0,1.0,2
9,9,1,0,0,1,0,2400,2400,123.0,360.0,1.0,1
10,10,1,0,0,1,0,3091,0,90.0,360.0,1.0,2
11,11,1,2,1,0,1,2185,1516,162.0,360.0,1.0,1
12,12,1,0,3,0,0,4166,0,40.0,180.0,-1.0,2
13,13,1,2,2,0,1,12173,0,166.0,360.0,0.0,1
14,14,0,0,0,0,0,4666,0,124.0,360.0,1.0,1
15,15,1,0,1,0,0,5667,0,131.0,360.0,1.0,2
16,16,1,2,2,0,0,4583,2916,200.0,360.0,1.0,2
17,17,1,2,3,0,0,3786,333,126.0,360.0,1.0,1
18,18,1,2,0,0,0,9226,7916,300.0,360.0,1.0,2
19,19,1,0,0,0,0,1300,3470,100.0,180.0,1.0,1
20,20,1,2,1,1,0,1888,1620,48.0,360.0,1.0,2
21,21,0,0,3,1,0,2083,0,28.0,180.0,1.0,2
22,22,2,0,0,0,0,3909,0,101.0,360.0,1.0,2
23,23,0,0,0,1,0,3765,0,125.0,360.0,1.0,2
24,24,1,2,0,0,0,5400,4380,290.0,360.0,1.0,2
25,25,1,0,0,0,0,0,24000,148.0,360.0,0.0,0
26,26,1,2,2,0,0,4363,1250,140.0,360.0,-1.0,2
27,27,1,2,0,0,0,7500,3750,275.0,360.0,1.0,2
28,28,1,2,0,0,0,3772,833,57.0,360.0,-1.0,1
29,29,1,0,0,0,0,2942,2382,125.0,180.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
337,337,1,2,0,0,0,2292,1558,119.0,360.0,1.0,2
338,338,1,2,1,0,2,2360,3355,87.0,240.0,1.0,0
339,339,0,0,0,0,0,4333,2333,162.0,360.0,0.0,0
340,340,1,2,0,0,2,2623,4831,122.0,180.0,1.0,1
341,341,1,0,0,0,2,3972,4275,187.0,360.0,1.0,0
342,342,1,2,3,1,0,3522,0,81.0,180.0,1.0,0
343,343,1,2,1,0,0,4700,0,80.0,360.0,1.0,2
344,344,1,0,0,0,0,6858,0,176.0,360.0,1.0,0
345,345,1,2,3,0,0,8334,0,260.0,360.0,1.0,2
346,346,1,2,0,0,0,3391,1966,133.0,360.0,0.0,0
347,347,1,0,0,1,0,2868,0,70.0,360.0,1.0,2
348,348,1,2,2,1,0,3418,1380,135.0,360.0,1.0,2
349,349,1,2,0,0,2,2500,296,137.0,300.0,1.0,0
350,350,1,2,2,0,0,8667,0,254.0,360.0,1.0,0
351,351,1,0,0,0,0,2283,15000,106.0,360.0,-1.0,0
352,352,1,2,0,0,0,5817,910,109.0,360.0,1.0,2
353,353,1,2,0,0,0,5119,3769,120.0,360.0,1.0,0
354,354,1,2,3,1,0,5316,187,158.0,180.0,0.0,1
355,355,1,2,3,0,0,7603,1213,197.0,360.0,1.0,2
356,356,1,2,1,0,0,3791,1936,85.0,360.0,1.0,2
357,357,1,0,0,0,0,2500,0,60.0,360.0,1.0,2
358,358,1,2,2,1,0,3132,0,76.0,360.0,-1.0,0
359,359,1,0,0,0,0,4000,2667,152.0,360.0,1.0,1
360,360,0,2,0,0,0,8550,4255,96.0,360.0,-1.0,2
361,361,1,2,1,0,0,2269,2167,99.0,360.0,1.0,1
362,362,1,2,3,1,2,4009,1777,113.0,360.0,1.0,2
363,363,1,2,0,0,0,4158,709,115.0,360.0,1.0,2
364,364,1,0,0,0,0,3250,1993,126.0,360.0,-1.0,1
365,365,1,2,0,0,0,5000,2393,158.0,360.0,1.0,0
366,366,1,0,0,0,2,9200,0,98.0,180.0,1.0,0

In [76]:
dp = rf.decision_path(num_train.drop('Loan_Status', axis=1))